<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/TOSHIBA/UI_Automation_Task/Selenium_Webdriver/Page_Object_Model/orangehrm_POM"><classes><class name="dashboard.DashboardTests"><methods><include name="testAPageTitle"/><include name="testLogout"/></methods></class><class name="login.LoginTests"><methods><include name="testAloginPanel"/><include name="testACompanyLogo"/><include name="testAForgotPassword"/><include name="testAPageTitle"/><include name="getDashboardPage"/></methods></class><class name="setUp.SetupTests"><methods><include name="testGetPageURL"/></methods></class></classes></test></suite>