<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/TOSHIBA/Desktop/UI_Automation_Task/goibiboProject">
        <classes>
         <!--   <class name="TestSuites.Hotel_1SearchTests">
                <methods>
                    <include name="hotelNav"/>
                    <include name="hotelSearch"/>
                    <include name="selectHotel"/>
                </methods>
            </class> -->
            <class name="TestSuites.Hotel_2SearchOotyTests">
                <methods>
                    <include name="hotelNav"/>
                    <include name="hotelSearch"/>
                    <include name="selectHotel"/>
                    <include name="hotelDetails"/>
                    <include name="guestDetails"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>